html{
  font-family: sans-serif;
}

.timeline {
  list-style: none;
  margin-left: 25%;
  border: 8;
  border-left: #575bb4 solid 4px;
  border-image:linear-gradient(to bottom, #575bb4, #8e92f5) 1 100%;
  text-align: center;

}

.body {
  position: relative;
  background-color: rgb(96, 177, 232);
  padding: 10px;
  paddint-top: -100px;
  border-radius: 6px;
  max-width: 600px;
}

.date {
  color: rgb(228, 230, 242);
  position: absolute;
  left: -121px;

  font-size: .30rem;
}
.timeline i {
   font-size: 29px;
   color: rgb(47, 69, 214);
   position: absolute;
   left: -59px;
   top: -8px;
   background: rgb(113, 141, 240);
   padding: 5px;
   border-radius: 50%;
   border: 4px solid rgb(9, 74, 135);
}

.time {
  font-size: 50px;
  color: rgb(56, 150, 171);
  position: absolute;
  top: 7px;
  left: -189px;
}
.fa.fa-mobile {
  position: absolute;
  left: -59px;
  padding: 6px;

}
